/* Body Styles */
  @import url('https://fonts.googleapis.com/css?family=Arimo|Varela+Round');

  
  html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}a{text-decoration:none; color:inherit;}
  h1,
  h2,
  strong {
  color: #333;
  }
  
  html {
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  }
  
/* Main Section Content */
  body {
    color: #555;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    padding: 0em 0 1em 0;
  }

  nav{
    margin-left:2em;
  }

  #github-link-back {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.2rem;
    background:rgb(58, 156, 49);
    color: white;
    padding: 11px;
    border-bottom:1px solid white;
    transition:all .2s;
}

#github-link-back:hover {
 
    border-bottom:5px solid green;
    filter:hue-rotate(100deg);
}

.discord-widget{
  width:15%;
}