/* Body Styles */
  @import url('https://fonts.googleapis.com/css?family=Arimo|Varela+Round');
  
  html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 { margin: 0;padding: 0;}a{text-decoration:none; color:inherit;}
  h1,
  h2,
  strong {
  color: #333;
  }
  
  html {
  background-color: #fff;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  }
  
/* Main Section Content */
  body {
    color: #555;
    /* font-family: 'Arimo', sans-serif; */
    line-height: 1.5;
    padding: 0em 0 1em 0;
  }

  nav{
    margin-left:2em;
  }
  body nav.brand{
    font-family: 'Varela Round', sans-serif;
  }

/* Media Queries   */
  /* Larger than mobile */
  @media (min-width: 400px) { }

  
  /* Larger than smalltablet  */
  @media (min-width: 550px) { }

  /* Larger than tablet */
  @media (min-width: 750px) { }

  /* Larger than desktop */

  @media (min-width: 1000px) { }

  /* Larger than Desktop HD */
  @media (min-width: 1200px) { }

